/* detalle_perro.css */
.perro-detalle {
    padding: 20px;
}

.detalle-contenido {
    display: flex;
    align-items: center;
}

.detalle-imagen {
    width: 300px; /* Ajusta el tamaño de la imagen */
    height: auto;
    margin-right: 20px;
}

.detalle-descripcion {
    max-width: 500px;
}

.adoptar-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}
