/* General */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Contenedor del formulario */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

/* Estilos del formulario */
.form-section {
    width: 100%;
    max-width: 600px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Ajustes de márgenes para evitar solapamientos */
p.intro-text {
    text-align: center;
    margin-top: 20px;
}

.image.main {
    display: block;
    margin: 20px auto;
}

/* Botón de Adopción */
.submit-btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.adoptar-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.adoptar-button:hover {
    background-color: #45a049;
}

/* Estilos de los grupos del formulario */
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #ccc;
}
