/* Asegúrate de que el cuerpo y el html ocupen todo el alto de la ventana */
html, body {
    height: 100%;
    margin: 0;
}

#main {
    width: 100%;
}

.dog-profile {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between; 
}

.column {
    flex: 1;
    min-width: 300px; 
    box-sizing: border-box; 
}


.dog-image, .dog-info, .dog-adoption {
    padding: 15px;
    border: 1px solid #ccc; 
    border-radius: 8px; 
}

.dog-image img {
    width: 100%; 
    height: auto;
}

.adoption-buttons {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

@media (max-width: 768px) {
    .dog-profile {
        flex-direction: column;
    }
}
